[buildout]
parts =
  flake8
  maas
  pserv
  pserv-test
  repl
  sphinx
extends = versions.cfg
versions = versions
extra-paths =
  ${buildout:directory}/src
include-site-packages = false
# Don't always check for newer packages; use `bin/buildout -n` to
# override this and check explicitly.
newest = false

[maas]
recipe = djangorecipe
settings = development
eggs =
  coverage
  django
  django-debug-toolbar
  django-nose
  django-piston
  fixtures
  oops
  oops-datedir-repo
  oops-wsgi
  psycopg2
  rabbitfixture
  South
  testresources
  testtools
project = maas
projectegg = maas
test =
  maasserver
  maastesting
testrunner = test.maas
extra-paths = ${buildout:extra-paths}

[pserv]
recipe = zc.recipe.egg
eggs =
  oops-datedir-repo
  oops-twisted
  setproctitle
  twisted
  txamqp
entry-points =
  pserv=twisted.scripts.twistd:run
extra-paths = ${buildout:extra-paths}

[pserv-test]
recipe = zc.recipe.egg
eggs =
  ${pserv:eggs}
  python-subunit
  rabbitfixture
  testtools
entry-points =
  test.pserv=subunit.run:SubunitTestProgram
initialization =
  sys.argv[1:1] = ["discover", "provisioningserver"]
  from subunit import get_default_formatter
  from subunit.run import SubunitTestRunner
  stream = get_default_formatter()
  runner = SubunitTestRunner(stream)
arguments = testRunner=runner
extra-paths = ${pserv:extra-paths}

[flake8]
recipe = zc.recipe.egg
eggs =
  flake8
entry-points =
  flake8=flake8.run:main

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs/_build
extra-paths = ${buildout:extra-paths}
eggs = ${maas:eggs} ${pserv:eggs}

# Convenient REPLs with all eggs available.
[repl]
recipe = z3c.recipe.scripts
eggs = ipython ${maas:eggs} ${pserv:eggs}
extra-paths = ${buildout:extra-paths}
interpreter = py
scripts = ipython=ipy
