<network>
  <name>$name</name>
  <forward mode='nat'/>
  <bridge name='$bridge' stp='on' delay='0' />
  <ip address='$ip_pre.1' netmask='$netmask'>
    <dhcp>
      <range start='$ip_pre.$dhcp['range']['start']' end='$ip_pre.$dhcp['range']['start']' />
      <bootp server="$all_systems.cobbler.ipaddr" file="pxelinux.0" />
      #for $sys in $all_systems.itervalues()
      <host mac="$sys.mac" name="$sys.name" ip="$sys.ipaddr" />
      #end for
    </dhcp>
  </ip>
</network>

