if [ '%(power_change)s' != 'on' ]
then
    echo "There is no way to power down a node through etherwake." >&2
    exit 1
elif [ -x /usr/bin/wakeonlan ]
then
    /usr/bin/wakeonlan %(mac)s
elif [ -x /usr/sbin/etherwake ]
then
    /usr/sbin/etherwake %(mac)s
else
    echo "No wakeonlan or etherwake program found." >&2
    exit 1
fi

exit 0
