$TTL    300
@   IN    SOA {{domain}}. nobody.example.com. (
              {{serial}} ; serial
              600 ; Refresh
              1800 ; Retry
              604800 ; Expire
              300 ; TTL
              )

    IN  NS  {{domain}}.
{{domain}}.  IN A 127.0.0.1; # TODO: use master worker IP.
{{for hostname, ip in hostname_ip_mapping.items()}}
{{hostname}} IN A {{ip}}
{{endfor}}
